{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
	<h3>La console a bien été supprimée</h3>
		<p>
			<a href="{{ path('liste_consoles') }}" class="btn btn-success" role="button">
				<span class="glyphicon glyphicon-arrow-left"></span> Retour à la liste des consoles
			</a>
		</p>
</div>

{% endblock %}